/*
Error: Undefined variable: "$size".
        on line 23 of /Users/ap/code/labs/active/labs-tools/webpack/assets/stylesheets/app.scss

18:   justify-content: center;
19:   max-width: 100%;
20: }
21: 
22: h2 {
23:   font-size: $size;
24:   font-family: $font;
25:   color: green;
26: }
27: 
28: a {

Backtrace:
/Users/ap/code/labs/active/labs-tools/webpack/assets/stylesheets/app.scss:23
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/script/tree/node.rb:50:in `perform'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/engine.rb:268:in `render'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/ap/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/ap/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/ap/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/ap/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/ap/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$size\".\A         on line 23 of /Users/ap/code/labs/active/labs-tools/webpack/assets/stylesheets/app.scss\A \A 18:   justify-content: center;\A 19:   max-width: 100%;\A 20: }\A 21: \A 22: h2 {\A 23:   font-size: $size;\A 24:   font-family: $font;\A 25:   color: green;\A 26: }\A 27: \A 28: a {"; }
